@inherits MdcComponentBase
@inject IJSRuntime jsRuntime

<div @ref="selectElem" class="mdc-select">
  <select class="mdc-select__native-control" value=@Value @onchange=@OnValueChangedAsync>
    @ChildContent
  </select>
  <label class="mdc-floating-label">@Label</label>
  <div class="mdc-line-ripple"></div>
</div>

@functions {
    [Parameter] public string Label { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string Value { get; set; }
    [Parameter] public EventCallback<string> ValueChanged { get; set; }

    ElementReference selectElem;

    Task OnValueChangedAsync(ChangeEventArgs eventArgs)
    {
        Value = (string)eventArgs.Value;
        return ValueChanged.InvokeAsync(Value);
    }

    protected override async Task OnAfterFirstRenderAsync()
        => await jsRuntime.InvokeAsync<object>("BlazorMaterial.select.init", selectElem);
}
